<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%level] [%t] [%logger]: %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="File" fileName="heavenms_application.log" immediateFlush="true" append="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
<!--        <Logger name="server.maps" level="DEBUG"/>-->
<!--        <Logger name="server.life" level="DEBUG"/>-->
        <Logger name="server.MapleItemInformationProvider" level="DEBUG"/>
        <Logger name="provider.MapleDataTool" level="DEBUG"/>
    </Loggers>
</Configuration>